.osnova{
    
}

header{
    height: 150px;
    width: 2791px;
}

.cenu,.hp1,.content,.c1,.c2,.c3,.c1p{
    position: absolute;
}

.cenu{
    border-bottom: 3px solid #929292;
    color: #212121;
    font-family: Montserrat;
    font-size: 26px;
    line-height: 48px;
    font-weight: 700;
    height: 150px;
    width: 2560px;
    left: 50px;
}

.u2,.u3,.u4,.u5{
    color: #212121;
}

.u1{
    left: 0px;
    color: #070707;
}

.u2{
    left: 500px;
}

.u3{
    top: 0px;
    left: 1200px;
}

.u4{
    top: 0px;
    left: 1750px;
}

.u5{
    top: 0px;
    left: 2400px;
}

.content{
    border: 1px solid black;
    color: #070707;
    top: 200px;
    left: 50px;
    height: 190px;
    width: 2560px;
}

.c1{
    font-size: 60px;
}

.c2{
    font-size: 20px;
    left: 1200px;
    top: 100px;
}

.c3{
    font-size: 20px;
    left: 1200px;
    top: 100px;
}